<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pretty Json</title>
    <link rel="stylesheet" href="/style.css">
    <style>

    </style>
</head>
<body>
<header>
    <h1>Pretty Json</h1>
</header>

<main>
    <div>
        <h1><i><b>Ciao Alessandra Mia ❤️</b></i></h1>
        <p><b>Di cosa siamo in vena oggi?</b></p>
        <select id="choice" name="scelta">
            <option value="LOVE">AMORE</option>
            <option value="MOTIVATIONAL">MOTIVAZIONALE</option>
            <option value="FUNNY">DIVERTENTE</option>
        </select>
        <button id="phrasebutton">genera</button>
        <p id="message"></p>
        <p><i><b>Scarica l'excel con tutte le frasi che hai generato fino ad ora!</b></i></p>
        <button id="downloadbutton">download</button>
    </div>
</main>

<footer>
    <p><i><b>made with ❤️ by Francesco for Alessandra </b></i></p>
</footer>
<script src="/script.js"></script>
</body>
</html>